
.flex{
  background-color: #333;
  display: flex;
  width: 87%;
  display: none;
}

.right{
  float:right;
}

.column {
  display:none!important;
  display: none;
  flex-direction: column;
  border-radius: 25px;
  display: flex;
  width: 18em;
  margin: 2% auto;
  color:white;
}

.button{
  width: 50%;
  margin-left:25%;

}

.header{
  align-items: center;
}
p {
  margin: 0.4em;
}
label {
    margin-right: 0.5em;
}
input {
    max-width: 95%;
}
input:not([type="submit"]) {
    width: 15em;
}
