/* Header Styles*/

.capsule {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  width: 100vw;
  height: 60px;
  background: white;
}

.navUL {
  padding-left: 0;
  display: flex;
  list-style: none outside none;
  justify-content: center;
  align-items: center;
}

.navLinks {
  margin: 0 1rem;
  padding: 0 1rem;
  color:black;
}

.navA,
.navA:visited,
.navA:active {
  text-decoration: none;
  color: black;
}

.profile, .navLogo{
  height: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 1rem;
}

.navLogo {
  display: inline;
  animation: navLogo-spin infinite 20s linear;
}

@keyframes navLogo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*
ALOMST MID SIZE SCREEN!
*/

@media only screen and (max-width: 1045px) {


  .capsule {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav {
    width: 100vw;
    height: 60px;
    background: white;
  }

  .navUL {
    display: flex;
    list-style: none outside none;
    justify-content: center;
    align-items: center;
  }

  .navLinks {
    margin: 0 .5rem;
    padding: 0 .5rem;
    color:black;
  }

  .navA,
  .navA:visited,
  .navA:active {
    text-decoration: none;
    color: black;
  }

  .cartitem {
    position: relative;
    float: right;
  }

  .profile, .navLogo{
    height: 2rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: .5rem;
  }

  .navLogo {
    display: inline;
    animation: navLogo-spin infinite 20s linear;
  }

  @keyframes navLogo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

}
@media only screen and (max-width: 700px) {

  .navUL {
    padding-top: .35em;
    display: flex;
    list-style: none outside none;
    justify-content: center;
    align-items: center;
  }

  .navLinks {
    margin: 0 .25rem;
    padding: 0 .25rem;
    color:black;
  }

  .profile, .navLogo{
    height: 2rem;
    margin-left: 1.5rem;
    margin-right: 2rem;
    margin-top: .5rem;
  }

}
