/* Header Styles*/
.capsule {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  width: 100vw;
  height: 60px;
  background: white;
}

ul {
  padding-left: 0;
  display: flex;
  list-style: none outside none;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 20px;
  padding: 0 30px;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

.cartitem {
  position: relative;
  float: right;
}

.Nav-profile, .Nav-logo{
  height: 35px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
}

.Nav-logo {
  display: inline;
  animation: Nav-logo-spin infinite 20s linear;
}

@keyframes Nav-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
