.App {
  text-align: left;
  height: 500px;
}

.header {
  align-items: center;
  margin: 3% auto;
  width: 80%;
  background-color: #333;
  height: 7em;
  padding:.5em;
  padding-left: 5em;
  padding-bottom: 1em;
  color: white;
}

.title {
  font-size: 2em;
}

.subtitle {
  margin-bottom: 5%;
  padding-bottom:5%;
  font-size: 1em;
}

.intro {
  align-items: center;
  font-size: large;
  height: 350px;
}

@media only screen and (max-width: 500px) {

  .App {
    text-align: center;
    height: 500px;
  }

  .header {
    align-items: center;
    margin: 3% auto;
    width: 90%;
    background-color: #222;
    height: 7em;
    padding:.5em;
    padding-bottom: .5em;
    color: white;
  }

  .title {
    font-size: 2em;
  }

  .subtitle {
    margin-bottom: 5%;
    padding-bottom:5%;
    font-size: 1em;
  }

  .intro {
    font-size: medium;
    height: 500px;
  }
}
