.App {
  width:auto;
  text-align: left;
}

.parent{
  display:flex;
  justify-content: space-between
}

.left{
  width: 25%;
}

.right{
  padding-right: 70%;
  flex:1 ;
}

.header {
  border-radius: 25px;
  align-items: center;
  margin: 3% auto;
  width: 80%;
  background-color: #333;
  height: 7em;
  padding:.5em;
  padding-left: 5em;
  padding-bottom: 1em;
  color: white;
}

.title {
  font-size: 2em;
}

.subtitle {
  margin-bottom: 5%;
  padding-bottom:5%;
  font-size: 1em;
}

.intro {
  align-items: center;
  font-size: large;
}

@media only screen and (max-width: 480px) {

  .App {
    text-align: center;
  }

  .header {
    align-items: center;
    margin: 3% auto;
    width: 90%;
    background-color: #222;
    padding:.5em;
    padding-bottom: .5em;
    color: white;
  }

  .title {
    font-size: 2em;
  }

  .subtitle {
    margin-bottom: 5%;
    padding-bottom:5%;
    font-size: 1em;
  }

  .intro {
    font-size: medium;
  }
}
